<% action = post.persisted? ? post_url(post) : posts_url %>
<% method = post.persisted? ? "PATCH" : "POST" %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>
  <label>Title:
    <input type="text" name="post[title]" id="post_title" value="<%= post.title %>">
  </label>
  <br>
  <label>URL:
    <input type="text" name="post[url]" id="post_url" value="<%= post.url %>">
  </label>
  <br>
  <label>Content:
    <br>
    <textarea name="post[content]" id="post_content" cols="40" rows="10"><%= post.content %></textarea>
  </label>
  <br>
  <input type="submit" name="submit" value="Submit!">
</form>
