<% action = post.persisted? ? post_url(post) : posts_url %>
<% method = post.persisted? ? "PATCH" : "POST" %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>
  <label>Title:
    <input type="text" name="post[title]" id="post_title" value="<%= post.title %>">
  </label>
  <br>
  <label>URL:
    <input type="text" name="post[url]" id="post_url" value="<%= post.url %>">
  </label>
  <br>
  <label>Content:
    <br>
    <textarea name="post[content]" id="post_content" cols="40" rows="10"><%= post.content %></textarea>
  </label>
  <br>
  <br>

  <label>Subs:</label>
  <br>

  <input type="hidden" name="post[sub_ids][]" value="">

  <% Sub.all.each do |my_sub| %>
    <label>
      <input type="checkbox"
              value="<%= my_sub.id %>"
              name="post[sub_ids][]"
              <%= "checked" if @post.sub_ids.include?(my_sub.id) %>>
      <%= my_sub.title %>
    </label>
    <br>
  <% end %>

  <br>
  <input type="submit" name="submit" value="Submit!">
</form>
